.c-CardRewards {
  background-color: var(--color-white);
  border-radius: 21px;
  max-width: 315px;
  width: 100%;
  margin: auto;
  gap: 2px;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

.CardRewards__item {
  align-items: center;
  padding: 3rem 1.5rem;
  width: 11rem;
  margin: auto;
  text-align: center;
}

.CardRewards__divider {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid var(--color-darker-blue2);
}

.CardRewards__item-icon-two-people {
  width: 54px;
}

.CardRewards__number {
  font-size: 3.9rem;
  color: var(--color-dark-orange);
}
.CardRewards__text {
  color: var(--color-darker-blue2);
}

@media (min-width: 1024px) {
  .c-CardRewards {
    flex-direction: row !important;
    position: absolute;
    z-index: 100;
    bottom: -10rem;
    left: 0;
    right: 0;
    max-width: 812px;
  }
  .CardRewards__item {
    width: 14rem;
    margin: auto;
  }
  .CardRewards__divider {
    width: 1px;
    height: 100px;
    align-self: center;
    border-bottom: none;
    margin: 0;
    border-right: 1px solid var(--color-darker-blue2);
  }
}
