.c-navbar {
  background-color: #003473d9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container {
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  width: 100%;
  margin: auto;
}

.navbar__content {
  position: fixed;
  background-color: #003473;
  color: #fafafa;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform 200ms;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  -webkit-box-shadow: 10px 0px 21px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 0px 21px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 0px 21px 0px rgba(0, 0, 0, 0.5);
}

.navbar__content--hidden {
  transform: translateX(-100%);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.navbar__name {
  background-color: #5ad3df;
  color: #003473;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
  border-radius: 99px;
}

.navbar__contact {
  gap: 1.5rem;
  align-items: center;
}

.navbar__social-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navbar__social-circle {
  display: block;
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  background-color: #ff7e54;
  color: #003473;
}

.LogoWhite {
  height: 40px;
}

@media (min-width:768px) {
  .navbar__content  {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1280px) {
  .navbar-container {
    max-width: 1370px;
    padding: 1rem 2.5rem;
  }

  .navbar__content {
    position: static;
    background-color: transparent;
    transform: translate(0);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    gap: 2.5rem;
    padding: 0;
  }
  .navbar__content,
  .navbar__list,
  .navbar__contact {
    flex-direction: row !important;
  }
  .LogoWhite {
    height: 60px;
  }
}

@media (min-width: 1536px) {
  .navbar-container {
    max-width: 1450px;
  }
  .navbar__content {
    gap: 3.2rem;
  }
  .LogoWhite {
    height: 80px;
  }
}
