.events {
  padding: 3.7rem 2rem;
  scroll-margin-top: 80px;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.events__container {
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  max-width: 1640px;
  margin: auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .events__container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
  }
  .events__phrase {
    grid-row: 4 / 5;
  }
  .events__btn {
    margin-top: 5rem;
  }
}

@media (min-width: 1280px) {
  .events__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2.5rem;
  }
}
