.c-Home {
  position: relative;
  z-index: 10;
}
.events {
  position: relative;
  padding: 3.7rem 2rem;
  padding-bottom: 8rem;
  scroll-margin-top: 80px;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.events__container {
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  max-width: 1640px;
  margin: auto;
  width: 100%;
  position: relative;
}
.events__container-background {
  position: absolute;
  top: -1.5rem;
  right: 0;
  z-index: -20;
  transform: translateX(25%);
  display: none;
}
.events__container-background--circle,
.events__container-background--square {
  height: 640px;
  background-color: var(--color-light-gray);
}
.events__container-background--circle {
  aspect-ratio: 1;
  transform: translateX(50%);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.events__container-background--square {
  width: 800px;
}

.events__divider {
  display: none;
}

.the-crew {
  background-color: var(--color-smoke-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  display: flex;
  position: relative;
}
.the-crew-border-desktop {
  display: none;
  position: absolute;
  left: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 85%;
  width: 4px;
  background-color: var(--color-dark-orange);
}

.the-crew__card {
  position: relative;
  gap: 2rem;
  max-width: 500px;
  margin: auto;
}

.the-crew__description {
  border-left: 4px solid var(--color-dark-orange);
  padding: 1.2rem;
  display: grid;
  gap: 2rem;
}
.the-crew__image-container {
  height: 20.5rem;
  position: relative;
}
.the-crew__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 200ms;
}

.the-crew__image-container:hover .the-crew__image--main {
  opacity: 0;
}

.the-crew__title {
  color: var(--color-darker-blue);
  font-size: 3.5rem;
}
.the-crew__title--crew {
  color: var(--color-dark-orange);
}
.the-crew__text {
  color: var(--color-medium-gray2);
}
.the-crew__btn {
  justify-self: center;
}

.memories {
  padding-top: 5rem;
  padding-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
  background-color: var(--color-smoke-white);
  align-items: center;
}
.memories__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  max-width: 500px;
  margin: auto;
}

.memories__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.memories__image:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.memories__image:nth-child(4) {
  grid-column: 1 / 3;
}

.memories__btn {
  background-color: var(--color-light-aqua) !important;
}
.newman-soundtrack {
  background: linear-gradient(
    135deg,
    var(--color-black) 30%,
    var(--color-medium-aqua) 100%
  );
  padding-top: 4.7rem;
  margin-bottom: 5rem;
}

.newman-soundtrack__container {
  align-items: center;
  gap: 4rem;
  max-width: 500px;
  margin: auto;
}
.newman-soundtrack__spoty {
  width: 65%;
}
.newman-soundtrack__man-container {
  position: relative;
  display: flex;
}
.newman-soundtrack__man {
  position: relative;
  margin: auto;
  height: 28rem;
  width: auto;
}
.newman-soundtrack__text-container {
  color: var(--color-bright-white);
  font-size: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 11rem;
  text-align: start;
  z-index: 200;
  line-height: 3rem;
}

.newman-soundtrack__text--moved {
  padding-left: 3rem;
}
.joinus__container {
  max-width: 500px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.joinus__img-container {
  width: 20.7rem;
  position: relative;
  margin: auto;
}
.joinus__img {
  height: 100%;
  object-fit: cover;
}
.joinus__img-logo {
  position: absolute;
  top: 0;
  right: 3rem;
  background-color: var(--color-light-orange);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1.5rem 0.5rem;
  width: 3.3rem;
  height: 4.25rem;
}

.form {
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.joinus__form-text {
  color: var(--color-dark-green);
}

.joinus__input {
  font-family: "font-poppins", sans-serif;
  font-weight: 400;
  border-radius: 28px;
  padding: 1rem;
  border: 1px solid #707070;
  text-align: center;
  width: 100% !important;
}

.joinus__input--textarea {
  resize: none;
  height: 12rem !important;
}

.joinus__btn {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .events__container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
  }
  .events__phrase {
    grid-row: 4 / 5;
  }
  .events__btn {
    margin-top: 5rem;
  }
  .events__divider {
    display: block;
  }
  .the-crew {
    padding-top: 8rem;
  }
  .the-crew__card {
    flex-direction: row !important;
    justify-content: space-between;
    max-width: 1680px;
    height: 45rem;
    background-color: var(--color-bright-white);
    padding: 4.9rem 2.7rem;
    border-radius: 46px;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  }
  .the-crew-border-desktop {
    display: block;
  }
  .the-crew__title {
    font-size: 4rem;
  }
  .the-crew__description {
    border: none;
    align-self: flex-start;
    flex: 1;
  }
  .the-crew__image-container {
    position: relative;
    flex: 1;
    height: 30rem;
    align-self: center;
  }

  .memories__container {
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: 283px 283px;
    max-width: 1680px;
  }
  .memories__image:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
  .memories__image:nth-child(4) {
    grid-column: auto;
  }
  .memories__image:nth-child(1) {
    grid-column: 1 / 10;
  }
  .memories__image:nth-child(2) {
    grid-column: 10 / 30;
  }
  .memories__image:nth-child(3) {
    grid-column: 30 / 51;
  }
  .memories__image:nth-child(4) {
    grid-column: 1 / 15;
  }
  .memories__image:nth-child(5) {
    grid-column: 15 / 34;
  }
  .memories__image:nth-child(6) {
    grid-column: 34 / 51;
  }
}

@media (min-width: 1280px) {
  .events__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2.5rem;
  }
  .events__container-background {
    display: flex;
  }
  .the-crew__image-container {
    height: 35rem;
  }
  .the-crew__title {
    font-size: 6.6rem;
  }
  .memories {
    padding-bottom: 10rem;
  }
  .newman-soundtrack {
    padding: 0 2rem;
    gap: 0;
  }
  .newman-soundtrack__container {
    flex-direction: row !important;
    flex-direction: row-reverse !important;
    max-width: 1680px;
    max-height: 32rem;
    gap: 0;
    justify-content: center;
    margin-right: 6rem;
  }
  .newman-soundtrack__spoty {
    height: 30.1rem;
    width: auto;
    padding: 3.6rem 0;
  }
  .newman-soundtrack__man-container {
    align-self: flex-end;
  }
  .newman-soundtrack__man {
    align-self: flex-end;
    height: 40rem;
  }
  .newman-soundtrack__text-container {
    font-size: 4.5rem;
    bottom: 2rem;
    left: 22.5rem;
    line-height: 4.5rem;
  }
}
