.c-IconMenu {
  cursor: pointer;
}
.IconMenu-container {
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  transform: rotate(-45deg);
}
.IconMenu__short-line,
.IconMenu__large-line {
  height: 5px;
  background-color: #fff;
}
.IconMenu__short-line {
  width: 25px;
}
.IconMenu__large-line {
  width: 55px;
}

@media (min-width: 1280px) {
  .c-IconMenu {
    display: none;
  }
}
