@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("/public/fonts/segoe-ui-4-cufonfonts-webfont/style.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

:root {
  --color-white: #ffffff;
  --color-dark-blue: #245086;
  --color-light-orange: #ff7e54;
  --color-medium-gray: #707070;
  --color-light-aqua: #5ad3df;
  --color-smoke-white: #f5f5f5;
  --color-bright-white: #fafafa;
  --color-black-translucent: #00000029;
  --color-black: #000000;
  --color-medium-aqua: #2ac5b6;
  --color-light-gray: #e3e3e3;
  --color-dark-blue2: #003473;
  --color-light-aqua2: #08bdab;
  --color-darker-blue: #154e85;
  --color-light-gray2: #f1f5f8;
  --color-medium-gray2: #666666;
  --color-transparent: #00000000;
  --color-light-gray3: #f7f7f7;
  --color-light-gray4: #e4e4e4;
  --color-dark-orange: #ef7a53;
  --color-medium-gray3: #6c6c6c;
  --color-darker-blue2: #235286;
  --color-dark-green: #285c58;
  --color-darker-blue3: #134e84;
  --color-medium-blue: #205a8c;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* background-color: var(--color-dark-blue2); */
}
.root {
  background-color: var(--color-light-gray4);
}

h1,
h2,
h3,
h4,
h5,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.font-red-hat-display--bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

.font-arimo--bold {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.font-segoe--bold {
  font-family: "Segoe UI Bold";
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.5;
}

.orange-btn {
  background-color: var(--color-dark-orange);
  color: var(--color-white);
  border-radius: 99px;
  padding: 1rem 4rem;
  text-transform: uppercase;
}
